*{
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}
a{
  color: white;
}
label {
  cursor: pointer;
  /* Style as you please, it will become the visible UI component. */
}

#upload-photos {
  opacity: 0;
  position: absolute;
  z-index: -1;
}